<label for="navigation" class="fixed bottom-0 left-0 z-50 flex items-center justify-center w-12 h-12 mb-4 ml-4 bg-white border rounded-full shadow-lg cursor-pointer text-slate-600 border-slate-300 lg:hidden transition duration-200 ease-in-out active:scale-95">
  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16" />
  </svg>
</label>

<input type="checkbox" name="navigation" id="navigation" class="hidden peer" />
<div class="fixed top-[3.5rem] h-screen shadow-xl px-4 left-0 hidden peer-checked:block lg:relative lg:top-0 lg:h-auto lg:px-0 lg:block lg:flex-none lg:shadow-none">
  <div class="absolute inset-y-0 right-0 w-full lg:w-[50vw] bg-white lg:bg-slate-50"></div>

  <nav class="sticky top-[4.5rem] w-64 text-base lg:text-sm xl:w-72">
    <ul role="list" class="-ml-0.5 h-[calc(100vh-4.5rem)] overflow-y-auto py-7 pl-0.5 pr-8 space-y-8 xl:pr-16">
      <% grouped_and_sorted_documentation_resources.each do |resource| %>
        <li>
          <h3 class="font-semibold tracking-tight text-slate-900">
            <%= resource.fetch("name", "No Category").titleize %>
          </h3>

          <ul role="list" class="pl-3 mt-3 space-y-2">
            <% sort(resource.fetch("items", []), "order").each do |item| %>
              <% next if !item.published? %>

              <li>
                <a href="<%= url_for(item) %>" class="text-slate-900 hover:text-slate-800">
                  <%= item.data.title %>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
